<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('upload')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container upload">
    <div class="row">
        <div class="col s12">
            <h2 th:text="${heading}">Upload</h2>
            <div class="subtitle">SignIn to access your favorites.</div>
        </div>
    </div>
    <div class="divider"></div>
    <form th:action="@{${action}}" th:object="${user}" method="post" enctype="multipart/form-data">
        <input type="hidden"/>
        <div class="row">
            <div class="col s12 l8">
                <div class="file-wrapper">
                    <input type="file" id="file" name="file"/>
                    <span class="placeholder" data-placeholder="Choose an product...">Choose an product...</span>
                    <label for="file" class="button">Browse</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <input type="text" th:field="*{username}" placeholder="Name"/>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <select th:field="*{gender}" class="cs-select cs-skin-border">
                    <option value="" disabled="disabled">Select Gender</option>
                    <option value="Male" text="Male">Male</option>
                    <option value="Female" text="Female">Female</option>
                    <option value="Other" text="Other">Other</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <input type="number" th:field="*{mobileNumber}" placeholder="Contact"/>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <input type="email" th:field="*{email}" placeholder="Email"/>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <input type="password" th:field="*{password}" placeholder="Password"/>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <input type="password" placeholder="Confirm Password"/>
            </div>
        </div>
        <!--<div class="row">
            <div class="col s12 l8">
                <select th:field="*{category.id}" class="cs-select cs-skin-border">
                    <option value="" disabled="disabled">Select a category</option>
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}" th:style="|color:${cat.colorCode}|">Technology</option>
                </select>
            </div>
        </div>-->
        <div class="row">
            <div class="col s12">
                <button type="submit" class="button">SignUp</button>
                <a href="/signIn" class="button">Already have a account? SignIn!</a>
            </div>
        </div>
    </form>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>